:root{
    --bg-color:#fff;
    --bg-orange:#f78166;
    --bg-yellow:#f1e05a;
    --bg-blue:#58a6ff;
    --bg-green:#238636;
    --font:#6E7781;
    --X:#edd812;
    /* --color: #19bc8b; */
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    color: var(--font)
}
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
    opacity: 0;
    transform: translate3d(0, 36px, 0);
}
.container.show{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.app{
    flex-direction: row;
    padding: 10px;
    width: 100%;
    max-width: 990px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: flex-start;
    margin: 0 auto;
}
.app__inner{
    width: 355px;
    height: 355px;
}
.game{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.ceil{
    gap: 5px;
    width: 115px;
    height: 115px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-family: Montserrat;
    font-size: 4em;
    color: var(--X);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hover{
    cursor: pointer;
    opacity: .8;
}
.hover:hover{
    opacity: .5;
}
.table{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translate3d(0, 36px, 0);
}
.table.show{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.message{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 2em;

    text-transform: uppercase;
}
.countGames{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 1em;
    line-height: 1em;
}
.score{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 355px;
}
.player,
.draw,
.comp{
    font-family: Montserrat;
    font-weight: bold;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerScore,
.drawScore,
.compScore{
    font-family: Montserrat;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.resetScore{
    font-family: Montserrat;
    font-size: 1em;
    width: fit-content;
    color: var(--color);
    transition: 0.25s;
    background: none;
    border: 2px solid;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
    opacity: .8;
    text-transform: uppercase;
}
.resetScore:hover,
.resetScore:focus {
    opacity: 1;
    border-color: var(--color);
    color: #fff;
    box-shadow: 0 0 0 0 var(--color), inset 6em 3.5em 0 0 var(--color);
}

/* footer */
li {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #57606a;
}

li::marker {
    color: #bf8700;
}

ul ul li::marker {
    color: #1a7f37;
    list-style-type: circle;
}



.footerbody {
    display: flex;
    padding: 40px 0;
    border-top: 1px solid #d0d7de;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.footerbody__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.git span {
    padding-left: 8px;
    color: #6E7781;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #57606a;
}

.st0 {
    fill: #6E7781;
}

a {
    cursor: pointer;
    color: var(--bg-blue);
    text-decoration: none;
}

@media (max-width:555px) {
    .footerbody {
        flex-wrap: wrap;
    }
    .footerbody__item {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .footerbody__item.contact {
        margin-bottom: 0;
        flex: 0 0 98%;
    }
    .footerbody__item.rs_school {
        justify-content: end;
        flex: 0 2 0;
    }
}