:root{
    --bg-color:#fff;
    --bg-orange:#f78166;
    --bg-yellow:#f1e05a;
    --bg-blue:#58a6ff;
    --bg-green:#238636;
    --font:#6E7781;
}
body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.app{
    padding: 10px;
    width: 100%;
    max-width: 990px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}
.game{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 355px;
    height: 355px;
    justify-content: space-between;
    align-content: space-between;
}
.ceil{
    gap: 5px;
    width: 115px;
    height: 115px;
}
.hover{
    background: red;
    opacity: .2;
    cursor: pointer;
}
.hover:hover{
    opacity: .5;
}
.table{
    width: 355px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translate3d(0, 36px, 0);
}
.table.show{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.9s ease-out, opacity 0.9s ease-out;
}
.message{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 2em;
    line-height: 2em;
}
.countGames{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 1em;
    line-height: 1em;
}
.score{

    display: flex;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 355px;
}
.player,
.draw,
.comp{
    font-family: Montserrat;
    gap: 5px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.playerScore,
.drawScore,
.compScore{
    font-family: Montserrat;
    gap: 5px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.resetScore{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-size: 1em;
    line-height: 1em;
}