html {
    scroll-behavior: smooth;
  }
:root{
    --burger-color:rgba(123, 156, 121, 0.98);
    --links-menu: #fff;
    --font-links: Montserrat
}

  body {
    font-family: var(--links-menu);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  *, ::before, ::after{
    box-sizing: border-box;
  }

  /* ++++++++++++++++++++++++++++++++++ */
  body.open{
    overflow: hidden;
  }
  /* Burger */
  
  button {
    opacity: 0.6;
    background-color: transparent;
    position: fixed;
    z-index: 3;
    top: 24px;
    right: 24px;
    border: none;
    width: 36px;
    height: 30px;
    outline: none;
    transition: opacity 0.2s ease-out;
    cursor: pointer;
  }
  button:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    right: auto;
    width: 100%;
    background: linear-gradient(to bottom, var(--burger-color), var(--burger-color) 20%, transparent 20%, transparent 40%, var(--burger-color) 40%, var(--burger-color) 60%, transparent 60%, transparent 80%, var(--burger-color) 80%, var(--burger-color) 100%);
    transition: opacity 0.2s ease-out, width 0.2s 0.2s ease-out;
  }
  button:after {
    opacity: 0;
    content: "×";
    color: var(--links-menu);
    position: absolute;
    top: 16px;
    left: -4px;
    font-family: Arial, sans-serif;
    font-size: 76px;
    line-height: 0;
    transition: opacity 0.4s ease-out;
  }
  button:active {
    transform: translateY(2px);
  }
  button:hover {
    opacity: 1;
  }
  .open button {
    opacity: 1;
  }
  .open button:before {
    opacity: 0;
    width: 0;
  }
  .open button:after {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(360deg);
    transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
  }
  /* nav */
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
  }
  nav:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: var(--burger-color);
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
    transform: scale(0.04), translateY(9999px);
    overflow: hidden;
  }
  
  .open nav {
    top: 0;
  }
  .open nav:before {
    -webkit-animation: menu-animation 0.8s ease-out forwards;
            animation: menu-animation 0.8s ease-out forwards;
  }
  
  /* menu */
  .main__menu, .sub__menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;    
    height: auto;
    max-height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    perspective: 1000;
  }
  
  .main__menu li{
    display: flex;
  }
  .main__menu::-webkit-scrollbar, .sub__menu::-webkit-scrollbar  {
    width: 0;
  }
  .main__menu a {
    cursor: pointer;
    padding: 6px 20px;
    font-size: calc(1em + 1vw);
    color: var(--links-menu);
    width: fit-content;
    font-family: var(--font-links);
    text-decoration: none;
    list-style: none;
  } 
  .main__menu li {
    opacity: 0;
    text-align: start;
    transform: translate3d(0, 36px, 0);
  }
  .main__menu a:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    left: auto;
    background-color: var(--links-menu);
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: width 0.14s ease-out;
  }
  .main__menu a:after {
    opacity: 0;
    content: attr(data-text);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: var(--burger-color);
    overflow: hidden;
    transform: translate(-24px, 6px);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  }
  .main__menu a:hover:before {
    left: 0;
    right: auto;
    width: 100%;
  }
  .main__menu a:hover:after {
    opacity: 1;
    padding: 0 20px;
    transform: translate(0px, 6px);
    transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
  }
  .open .main__menu li {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  }
  
  /* main scale */
  main {
     transition: 0.2s ease-out;
  }
  .open main {
    transform: scale(0.92);
    transition: transform 0.2s 0.41s ease-out;
  }
  
  /* Animation navigation */
  @-webkit-keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }
  
  @keyframes menu-animation {
    0% {
      opacity: 0;
      transform: scale(0.04) translateY(300%);
    }
    40% {
      transform: scale(0.04) translateY(0);
      transition: ease-out;
    }
    40% {
      transform: scale(0.04) translateY(0);
    }
    60% {
      opacity: 1;
      transform: scale(0.02) translateY(0px);
    }
    61% {
      transform: scale(0.04);
    }
    99.9% {
      height: 0;
      padding-bottom: 100%;
      border-radius: 100%;
    }
    100% {
      transform: scale(2);
      height: 100%;
      padding-bottom: 0;
      border-radius: 0;
    }
  }