:root{
    --bg-popup:#fff;
    --color-popup:#000;
    --shadow-popup:rgb(20,20,20);
}
.popup__body{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
}
.popup__body::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--shadow-popup);
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  transform: scale(0.04), translateY(9999px);
  overflow: hidden;
  opacity: .8;
}
.popup_open .popup__body {
    top: 0;
}
.popup_open .popup__body:before {
    -webkit-animation: popup-animation 0.8s ease-out forwards;
          animation: popup-animation 0.8s ease-out forwards;
  }
.popup__content{
    width: 50vh;
    padding: 30px;
    position: relative;
    background-color: var(--bg-popup);
    color: var(--color-popup);
    opacity: 0;
    transform: translate3d(0, 36px, 0);
    overflow-y: auto;
    overflow-x: hidden;
    height: 50vh;
}
.popup_open .popup__content{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.x{
    color: var(--color-popup);
    font-size: 16px;
    line-height: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none !important;
}

@-webkit-keyframes popup-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}

@keyframes popup-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}